<!DOCTYPE html>
<html lang="en" style="background-color: rgba(0,0,0,0.0); width:100%; height: 100%;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Growtopia Player Support</title>
    <link rel="icon" type="image/png" href="https://s3.eu-west-1.amazonaws.com/cdn.growtopiagame.com/website/resources/assets/images/growtopia.ico" sizes="16x16" />
    <link rel="shortcut icon" href="https://s3.eu-west-1.amazonaws.com/cdn.growtopiagame.com/website/resources/assets/images/growtopia.ico" type="image/x-icon">
    <link rel="icon" href="https://s3.eu-west-1.amazonaws.com/cdn.growtopiagame.com/website/resources/assets/images/growtopia.ico" type="image/x-icon">
    <link media="all" rel="stylesheet" href="https://s3.eu-west-1.amazonaws.com/cdn.growtopiagame.com/website/resources/assets/css/faq-main.css">
    <link media="all" rel="stylesheet" href="https://s3.eu-west-1.amazonaws.com/cdn.growtopiagame.com/website/resources/assets/css/shop-custom.css">
    <link media="all" rel="stylesheet" href="https://s3.eu-west-1.amazonaws.com/cdn.growtopiagame.com/website/resources/assets/css/ingame-custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .modal-backdrop {
            display: none !important;
        }

        .modal {
            background: rgba(0, 0, 0, 0.1);
        }

        .modal.show {
            display: flex !important;
            align-items: center;
            justify-content: center;
        }

        .modal.show.fade {
            pointer-events: none;
        }

        .modal-dialog {
            pointer-events: all;
        }

        .modal-body, .content {
            padding: 0;
        }

        .product-list-popup .modal-content {
            border: 6px solid #000000;
            background-color: rgba(0, 0, 0, 0.0);
            color: #FFF;
            background-image: url('https://raw.githubusercontent.com/Fanny2712/GrowtopiaLogin-Backend/main/public/html/images/main_menu_bg_themed.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .grow-button {
            border-radius: 5px;
            border: 2px solid #cbc488 !important;
            background: #ffe600 !important;
            text-transform: none;
            color: #FFF;
            text-align: center;
            text-shadow: 1px 1px 1px #000;
            font-weight: 700;
            line-height: normal;
            width: 100%;
            box-shadow: 1px 3px 0.1px 0px #000;
            margin-bottom: 10px;
        }

        .grow-button:hover {
            background: #ffea4d !important;
        }

        .create-button {
            border-radius: 5px;
            border: 2px solid #88cba3 !important;
            background: #0cfa14 !important;
            text-transform: none;
            color: #FFF;
            text-align: center;
            text-shadow: 1px 1px 1px #000;
            font-weight: 700;
            line-height: normal;
            width: 100%;
            box-shadow: 1px 3px 0.1px 0px #000;
            margin-bottom: 10px;
        }

        .create-button:hover {
            background: #00ff59 !important;
        }

        .promo-link {
            color: #fff;
            text-align: center;
            text-shadow: 1px 1px 1px #000;
            font-size: 16px;
            font-weight: 700;
        }

        .promo-a {
            color: #0cfa14;
        }

        a:focus, a:hover {
            color: #00ff59;
            text-decoration: underline;
        }

        #errorDiv {
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            display: none; /* Hide by default */
        }

        .password-toggle {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            color: #fff;
            background: none;
            border: none;
        }

        .form-group {
            position: relative;
        }
        
        .form-control {
            background-color: rgba(0, 0, 0, 0.5) !important;
            border: 2px solid rgba(255, 230, 0, 0.5) !important;
            color: white !important;
            border-radius: 5px;
            padding: 10px;
        }

        .form-control:focus {
            box-shadow: 0 0 5px rgba(255, 230, 0, 0.8);
            border-color: #ffe600 !important;
        }

        .form-control::placeholder {
            color: rgba(255, 255, 255, 0.7);
        }

        .section-title h2 {
            color: #ffe600;
            text-shadow: 2px 2px 2px #000;
        }

        .divider {
            text-align: center;
            margin: 15px 0;
            overflow: hidden;
        }

        .divider-text {
            position: relative;
            display: inline-block;
            padding: 0 10px;
            color: #fff;
        }

        .divider-text:before, .divider-text:after {
            content: "";
            position: absolute;
            top: 50%;
            width: 100px;
            height: 1px;
            background: rgba(255, 255, 255, 0.5);
        }

        .divider-text:before {
            right: 100%;
        }

        .divider-text:after {
            left: 100%;
        }
    </style>
</head>
<body style="background-color: rgba(0,0,0,0.0);">
    <button type="button" class="btn btn-primary hidden" data-toggle="modal" id="modalButton" data-target="#modalShow" data-backdrop="static" data-keyboard="false"></button>
    <div class="content">
        <section class="common-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="row">
                            <div class="modal fade product-list-popup" id="modalShow" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="content">
                                                <section class="common-box">
                                                    <div class="container">
                                                        <div class="section-title center-align">
                                                            <h2>Log in with your Magical-ID</h2>
                                                        </div>
                                                        <div id="errorDiv" style="background-color: #ff000033; color: #ff0000;">
                                                            <span id="errorMessage"></span>
                                                        </div>
                                                        <div class="row div-content-center">
                                                            <div class="col-md-12 col-sm-12">
                                                                <form method="POST" action="/player/growid/login/validate" accept-charset="UTF-8" role="form" id="loginForm" autocomplete="off">
                                                                    <input name="type" value="log" type="hidden">
                                                                    <input name="_token" type="hidden" value="{{tokenPlaceholder}}">
                                                                    <div class="form-group">
                                                                        <input id="loginGrowId" class="form-control grow-text" placeholder="Your MagicalPS Name" name="growId" type="text">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <input id="loginPassword" class="form-control grow-text" placeholder="Your MagicalPS Password" name="password" type="password">
                                                                        <button type="button" id="toggleLogPassword" class="password-toggle">
                                                                            <i class="fas fa-eye"></i>
                                                                        </button>
                                                                    </div>
                                                                    <button id="loginButton" class="btn btn-lg grow-button" type="button">
                                                                        <i class="fas fa-sign-in-alt"></i> Log in
                                                                    </button>
                                                                    
                                                                    <div class="divider">
                                                                        <span class="divider-text">OR</span>
                                                                    </div>
                                                                    
                                                                    <button id="createAccountButton" class="btn btn-lg create-button" type="button">
                                                                        <i class="fas fa-user-plus"></i> Create Account
                                                                    </button>
                                                                    
                                                                    <div class="form-group text-center promo-link">
                                                                        <a class="promo-a" href="https://discord.gg/6kBd2b2Rx8" target="_blank">
                                                                            <i class="fab fa-discord"></i> Need Help? Join our Discord!
                                                                        </a>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="https://s3.eu-west-1.amazonaws.com/cdn.growtopiagame.com/website/resources/vendors/jquery/jquery-2.1.4.min.js"></script>
    <script src="https://s3.eu-west-1.amazonaws.com/cdn.growtopiagame.com/website/resources/vendors/bootstrap/javascripts/bootstrap.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            if (localStorage.getItem('growId')) {
                document.getElementById('loginGrowId').value = localStorage.getItem('growId');
            }

            $('#modalShow').modal({
                backdrop: 'static',
                keyboard: false,
                show: true
            });

            $('#modalShow').on('hide.bs.modal', function (e) {
                e.preventDefault();
                e.stopPropagation();
                return false;
            });
        });

        // Generate random username and password
        function generateRandomCredentials() {
            const prefixes = ["Magic", "Wizard", "Mystic", "Epic", "Super", "Ultra", "Mega", "Cosmic", "Dragon", "Phoenix"];
            const suffixes = ["Player", "Gamer", "Master", "Hero", "Warrior", "Knight", "Legend", "Champion", "Star", "Elite"];
            
            const randomPrefix = prefixes[Math.floor(Math.random() * prefixes.length)];
            const randomSuffix = suffixes[Math.floor(Math.random() * suffixes.length)];
            const randomNum = Math.floor(Math.random() * 10000);
            
            const username = randomPrefix + randomSuffix + randomNum;
            
            // Generate random password (letters and numbers)
            const chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
            let password = "";
            for (let i = 0; i < 8; i++) {
                password += chars.charAt(Math.floor(Math.random() * chars.length));
            }
            
            return { username, password };
        }

        document.getElementById('loginButton').addEventListener('click', function (event) {
            event.preventDefault();

            const loginForm = document.getElementById('loginForm');
            const uName = document.getElementById('loginGrowId').value;
            const uPass = document.getElementById('loginPassword').value;

            // Reset error message
            document.getElementById('errorDiv').style.display = 'none';
            document.getElementById('errorMessage').innerHTML = '';

            if (!uName || !uPass) {
                document.getElementById('errorDiv').style.display = 'block';
                document.getElementById('errorMessage').innerHTML = '<i class="fas fa-exclamation-triangle"></i> Username or Password is empty';
                return;
            } else if (uName.length < 4 || uPass.length < 4) {
                document.getElementById('errorDiv').style.display = 'block';
                document.getElementById('errorMessage').innerHTML = '<i class="fas fa-exclamation-triangle"></i> Username or Password must be at least 4 characters long';
                return;
            } else {
                document.getElementById('loginButton').innerHTML = '<i class="fas fa-spinner fa-spin"></i> Logging in...';
                setTimeout(function() {
                    loginForm.submit();
                    localStorage.setItem('growId', document.getElementById('loginGrowId').value);
                }, 500);
            }
        });

        // Create account button functionality
        document.getElementById('createAccountButton').addEventListener('click', function (event) {
            event.preventDefault();
            
            // Generate random credentials
            const credentials = generateRandomCredentials();
            
            // Display the generated credentials in the input fields
            document.getElementById('loginGrowId').value = credentials.username;
            document.getElementById('loginPassword').value = credentials.password;
            
            // Show a success message
            document.getElementById('errorDiv').style.backgroundColor = '#0cfa1433';
            document.getElementById('errorDiv').style.color = '#0cfa14';
            document.getElementById('errorDiv').style.display = 'block';
            document.getElementById('errorMessage').innerHTML = '<i class="fas fa-check-circle"></i> Account created! Logging in...';
            
            // Change button text to show loading
            document.getElementById('createAccountButton').innerHTML = '<i class="fas fa-spinner fa-spin"></i> Creating Account...';
            
            // Save the generated username to local storage
            localStorage.setItem('growId', credentials.username);
            
            // Submit the form after a short delay
            setTimeout(function() {
                document.getElementById('loginForm').submit();
            }, 1500);
        });

        // Password toggle functionality
        document.getElementById('toggleLogPassword').addEventListener('click', function () {
            const passwordField = document.getElementById('loginPassword');
            const passwordFieldType = passwordField.getAttribute('type');
            if (passwordFieldType === 'password') {
                passwordField.setAttribute('type', 'text');
                this.innerHTML = '<i class="fas fa-eye-slash"></i>';
            } else {
                passwordField.setAttribute('type', 'password');
                this.innerHTML = '<i class="fas fa-eye"></i>';
            }
        });
    </script>
</body>
</html>
